BasedOnStyle: LLVM
IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '"pch/vkgpgpu_pch.hpp"'
    Priority:        -1000
  - Regex:           '^"[^/]+\.hpp"'
    Priority:        1
  - Regex:           '^<.*>'
    Priority:        2
