[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ThirdParty/VulkanMemoryAllocator"]
	path = ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParty/Catch2"]
	path = ThirdParty/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
[submodule "ThirdParty/entt"]
	path = ThirdParty/entt
	url = git@github.com:skypjack/entt.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = git@github.com:edvn0/imgui.git
	branch = docking
[submodule "ThirdParty/thread-pool"]
	path = ThirdParty/thread-pool
	url = git@github.com:bshoshany/thread-pool.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = git@github.com:g-truc/glm.git
